@import "tailwindcss";

@theme inline {
  --color-primary: #1b3a68;
  --color-secondary: #d32f2f;
  --font-sans: var(--font-poppins);
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* Force light mode regardless of preference */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #171717;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), sans-serif;
}
